<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="dbTestMonkey" type="System.Configuration.ConfigurationSectionGroup, System.Configuration">
      <section name="global" type="DbTestMonkey.Contracts.GlobalConfiguration, DbTestMonkey.Contracts" allowLocation="true" allowDefinition="Everywhere" />
      <section name="sqlServer" type="DbTestMonkey.Providers.SqlServer.ProviderConfiguration, DbTestMonkey.Providers.SqlServer" allowLocation="true" allowDefinition="Everywhere" />
      <section name="database" type="DbTestMonkey.Contracts.DatabaseConfiguration, DbTestMonkey.Contracts" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="xunit.methodDisplay" value="method" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <dbTestMonkey>
    <global useParallelInitialisation="false" deployDatabasesEachClass="false" defaultDbProviderType="DbTestMonkey.Providers.SqlServerProvider, DbTestMonkey.Providers.SqlServer">
    </global>
    <sqlServer isLocalDbInstance="true" localDbInstanceName="DbTestMonkey">
      <allowedLocalDbVersions>
        <version>11.0</version>
        <version>12.0</version>
        <version>13.0</version>
      </allowedLocalDbVersions>
      <databases>
        <database databaseName="TestDatabase1" connectionPropertyName="FirstConnectionFunc" dacpacFilePath="..\..\..\DACPACs\TestDatabase1.dacpac" executePostDeploymentScriptPerTest="false" />
        <database databaseName="TestDatabase2" connectionPropertyName="TestDatabase2Connection" dacpacFilePath="..\..\..\DACPACs\TestDatabase2.dacpac" />
      </databases>
    </sqlServer>
  </dbTestMonkey>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.TransactSql.ScriptDom" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>