<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.4.1" targetFramework="net45" />
  <package id="FodyCecil" version="1.29.2" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.SqlServer.Dac" version="1.0.3" targetFramework="net45" />
  <package id="Microsoft.SqlServer.TransactSql.ScriptDom" version="14.0.3660.1" targetFramework="net45" />
  <package id="System.Data.SqlLocalDb" version="1.15.0" targetFramework="net45" />
  <package id="xunit" version="2.0.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.0.1" targetFramework="net45" />
</packages>